<div id="header">
    <h2>Home Page</h2>
    <img src="/img/bienvenidos.png" alt="" id="bienvenidos">
    <a href="/"><img src="/img/logo-kataplum.png" alt="" id="logo"></a>
</div>

<hr>
{{>menu}}
<hr>

<div id="content">
    
</div>


{{>footer}}