<div id="header">
    <h2>Home Page</h2>
    <img src="/img/bienvenidos.png" alt="" id="bienvenidos">
    <a href="/"><img src="/img/logo-kataplum.png" alt="" id="logo"></a>
</div>

<hr>
{{>menu}}
<hr>

<div id="content">
    <div class="presentacion">
        <h2>Conoce nuestra creaciones</h2>
        <div class="pre-box">

            <div class="box">
                <img src="/img/iconos-home/mascara.png" alt="" class="icon">
                <h4 id="titulo">Máscaras</h4>
                <p>Las mascaras de tus personajes favorita ya están aquí</p>
                <div class="back-hover">

                </div>
            </div>

            <div class="box">
                <img src="/img/iconos-home/herramientas.png" alt="" class="icon">
                <h4 id="titulo">Accesorios</h4>
                <p>También creamos accesorios de decoración y amoblamientos</p>
                <div class="back-hover">

                </div>
            </div>

            <div class="box">
                <img src="/img/iconos-home/juguetes.png" alt="" class="icon">
                <h4 id="titulo">Juguetes</h4>
                <p>Creamos juguetes y muñecos preferidos</p>
                <div class="back-hover">

                </div>
            </div>

            <div class="box">
                <img src="/img/iconos-home/mate.png" alt="" class="icon">
                <h4 id="titulo">Mates</h4>
                <p>Mates, lapiceros o plantales originales de personajes</p>
                <div class="back-hover">

                </div>
            </div>


        </div>

    </div>


</div>


{{>footer}}