<div class="header">
    <h1>Mi Perfil</h1>
</div>

<h2>Usuario {{usuario.nombre}}</h2>
<hr>
<div class="enlaces">
    {{>menu}}
</div>
<hr>
<br>

<div class="datos">
    <div>
        <h3>Datos del Usuario</h3>
        <p>Nombre: <strong>{{usuario.nombre}}</strong></p>
        <p>Email: <strong>{{usuario.email}}</strong></p>
    </div>
    <img src="/img/mujer-bienvenida.png" alt="">
</div>