body{
    background-image: url("../img//fondo-muro.png");
    background-size: cover;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(39, 39, 112, 0.459);
    max-width: 100%;
    height: 70px;
    border-style:groove;
}
#menu{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
}
#menu li{
    list-style: none;
}
#menu li a{
    text-decoration: none;
    font-family: 'Segoe UI';
    font-size: 18px;
    color: blue;
}
#menu li a:hover{
    color: red;
    font-weight: bold;
}

h1,h2{
    padding-left: 20px;
    font-family: 'Segoe UI';
    color: rgb(245, 184, 29);
    text-shadow: 1px 1px 2px black;
}
h3{
    margin-left: 20px;
    font-family: 'Segoe UI';
}

#stock{
    margin-left: 20px;
}
#stock input{
    margin: 5px;
}
#stock #grabar:hover{
    background-color: rgba(24, 20, 75, 0.658);
    color: whitesmoke;
    font-weight: bold;
}

#productos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    align-items: center;
}
#productos #card{
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
    text-overflow: ellipsis;
    background-color: rgba(132, 150, 201, 0.329);
}

#card img {
    width: 90%;
    margin: 5px auto;
}

#usuarios{
    list-style: none;
}
#usuarios li strong{
    font-weight: bold;
    font-size: 15px;
    font-family: 'Segoe UI';
    color: rgb(15, 19, 73);
}
#pagina{
    margin-left: 15px;
}
#pagina a{
    padding-left: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Segoe UI';
    color: rgb(14, 14, 80);
}
#cambiarPagina:hover{
    background-color: rgba(24, 20, 75, 0.658);
    color: whitesmoke;
    font-weight: bold;
}

#registro{
    text-align: center;
}
#registro input{
    margin-left: 10px;
}
#registro #registrar:hover{
    background-color: rgba(24, 20, 75, 0.658);
    color: whitesmoke;
    font-weight: bold;
}

#carrito:hover{
    background-color: rgba(24, 20, 75, 0.658);
    color: whitesmoke;
    font-weight: bold;
}

#datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    border-style: double;
    width: 200px;
    background-color: rgba(218, 165, 32, 0.459);
}

#comprar{
    display: flex;
    margin-left: 15px;
    align-items: center;
    justify-content: space-between;
}
#comprar a{
    margin-left: 15px;
}

#error{
    font-size: 18px;
    text-align: center;
    color: rgb(243, 56, 56);
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
}

#imagen-carrito{
    height: 50px;
}
#imagen-carrito:hover{
    height: 60px;
}

#carrito2{
    height: 50px;
}
#carrito2:hover{
    height: 60px;
}

#content{
    flex: 1;
}
#content {
    flex: 1;
    max-width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-style: groove;
    margin-bottom: 150px;
}
#footer{
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(30, 30, 128, 0.692);
}

#bienvenidos{
    height: 120px;
}

#mi-carrito{
    margin-right: 15px;
}

#titulo-color{
    color: red;
    font-size: 28px;
}

#carrito-prod{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    padding: 0;
}

#compra-carrito{
    width: 250px;
    text-align: center;
    margin: 20px;
    padding: 30px;
    border-style: groove;
    list-style: none;
    background-color: rgba(71, 71, 156, 0.285);
}
strong{
    color: rgb(31, 31, 114);
}

#logo{
    width: 110px;
}




.presentacion{
    width: 500x;
    margin: auto;
    margin-top: 20px;
}
.presentacion h2{
    margin: 0px;
    padding-bottom: 10px;
}
.pre-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    width: 200px;
    height: 150px;
    padding: 20px;
    margin: 10px;
    background: rgba(15, 61, 200, 0.584);
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: all 300ms;
    border-radius: 5%;
}
.box:hover{
    transform: translate(10px, -10px);
    box-shadow: -10px 10px 20px -10px black;
}
.box .icon,
.box h4,
.box p{
    position: relative;
    z-index: 1;
    transition: all 300ms;
}
.pre-box .icon{
    width: 50px;
    transform: translateY(30px);
}
.pre-box:hover .icon{
    color: gainsboro;
    font-size: 30px;
    transform: translateY(0);
}
.box h4,
.box{
    margin-top: 2px;
}
.box h4{
    font-size: 30px;
    transform: translateY(30px);
}
.pre-box:hover h4{
    transform: translateY(0);
    color: white;
}
.box p{
    font-size: 15px;
    transform: translateY(100px);
    opacity: 0;
    padding-bottom: 20px;
}
.box:hover p{
    transform: translateY(0);
    opacity: 1;
    color: whitesmoke;  
}

.box .back-hover{
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 250px;
    left: -170px;
    border-radius: 100%;
    transition: all 300ms; 
    background: linear-gradient(to bottom, rgb(41, 41, 193), rgb(199, 129, 23));
}
.box:hover .back-hover{
    width: 400px;
    height: 400px;
    top: -70px;
    left: -70px;
}
