<ul id="menu">
    <li>
        <a href="/">Home</a>
    </li>
    <p>|</p>
    <li>
        <a href="/cargaProductos">Stock</a>
    </li>
    <p>|</p>
    <li>
        <a href="/productos">Productos</a>
    </li>
    <p>|</p>
    <li>
        <a href="/usuarios">Usuarios</a>
    </li>
    <p>|</p>
    <li>
        <a href="/perfil">Perfil</a>
    </li>
    <p>|</p>
    <li>
        <a href="/registro">Registro</a>
    </li>
    <p>|</p>
    <li>
        <a href="/login">Login</a>
    </li>
    <p>|</p>
    <li>
        <a href="#" onclick="logout()">Logout</a>
    </li>
    <p>|</p>
    <li>
        <a href="/api/sessions/github">Acceder con Github</a>
    </li>

</ul>

<script src="/js/carrito.js"></script>
